.realtors{
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    display: grid;
    align-content: center;
    justify-content: center;

    &__list{
        display: grid;
        grid-template-columns: min-content max-content;
        //since we know the image is 7rem, min-content is good enough to show content
        //since we want the sentence to not break, max-content is good enough
        grid-column-gap: 2rem;
        grid-row-gap: 5vh; //change when you change broswer aspect ratio
        align-items: center;
    }

    &__img{
        width: 7rem;
        border-radius: 50%;
        display: block;
        //margin: 1.6rem;
    }

    &__details{
        
        
    }

    &__sold{
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
      
    }
}